In [1]:
import pandas as pd

In [2]:
wrecks_and_sites_df = pd.read_csv('Resources/wrecks_and_sites.csv')

In [3]:
wrecks_and_sites_df.head()

,Record #,Vessel Terms,Feature Type,Lat,Lng,GP Quality,Dive Site Name,Dive Site ID,Distance from Wreck
0,14620,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.143528,-80.114556,High,Presque Isle,23369.0,1.97
1,14292,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.498284,-81.759593,High,Mecosta,23908.0,17.20
2,14296,ALGERIA,"Wreck - Submerged, dangerous to surface naviga...",41.520448,-81.716076,High,Mecosta,23908.0,16.96
3,14298,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.512713,-81.709879,High,Mecosta,23908.0,16.34
4,14207,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.993389,-82.426583,High,St. Clair River,22589.0,0.10

In [4]:
copy = wrecks_and_sites_df.copy()

In [5]:
copy = copy.dropna(subset = ['Dive Site Name'])

In [6]:
copy.head()

,Record #,Vessel Terms,Feature Type,Lat,Lng,GP Quality,Dive Site Name,Dive Site ID,Distance from Wreck
0,14620,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.143528,-80.114556,High,Presque Isle,23369.0,1.97
1,14292,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.498284,-81.759593,High,Mecosta,23908.0,17.20
2,14296,ALGERIA,"Wreck - Submerged, dangerous to surface naviga...",41.520448,-81.716076,High,Mecosta,23908.0,16.96
3,14298,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.512713,-81.709879,High,Mecosta,23908.0,16.34
4,14207,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.993389,-82.426583,High,St. Clair River,22589.0,0.10

In [8]:
copy["Dive Site ID"] = copy["Dive Site ID"].astype(int)

In [9]:
wrecks_and_sites_df = copy

In [10]:
wrecks_df = wrecks_and_sites_df[["Record #", "Vessel Terms", "Feature Type", "Lat", "Lng", "GP Quality"]]
wrecks_df.head()

,Record #,Vessel Terms,Feature Type,Lat,Lng,GP Quality
0,14620,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.143528,-80.114556,High
1,14292,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.498284,-81.759593,High
2,14296,ALGERIA,"Wreck - Submerged, dangerous to surface naviga...",41.520448,-81.716076,High
3,14298,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.512713,-81.709879,High
4,14207,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.993389,-82.426583,High

In [11]:
wrecks_df.to_csv("Resources/wrecks_transformed.csv", index = False)

In [12]:
dive_sites_df = wrecks_and_sites_df[["Dive Site ID", "Dive Site Name", "Distance from Wreck", 
                                     "Lat", "Lng", "Record #"]]

In [13]:
#dive_sites_df = dive_sites_df.rename(columns={"Record #" : "Wreck Record #"})

In [14]:
dive_sites_df.head()

,Dive Site ID,Dive Site Name,Distance from Wreck,Lat,Lng,Record #
0,23369,Presque Isle,1.97,42.143528,-80.114556,14620
1,23908,Mecosta,17.20,41.498284,-81.759593,14292
2,23908,Mecosta,16.96,41.520448,-81.716076,14296
3,23908,Mecosta,16.34,41.512713,-81.709879,14298
4,22589,St. Clair River,0.10,42.993389,-82.426583,14207

In [15]:
dive_sites_df.to_csv("Resources/w_dive_sites_transformed.csv", index = False)